[submodule "source/libraries/bgrabitmap"]
	path = source/libraries/bgrabitmap
	url = https://github.com/bgrabitmap/bgrabitmap.git
[submodule "source/libraries/fpgui"]
	path = source/libraries/fpgui
	url = https://github.com/graemeg/fpGUI.git
	branch = develop
[submodule "source/libraries/uos"]
	path = source/libraries/uos
	url = https://github.com/fredvs/uos.git
